function CollisionManager.new 0
push constant 9
call Memory.alloc 1
pop pointer 0
push argument 0
call Jack.getCB 1
pop this 0
push argument 1
call Block.getCB 1
pop this 1
push argument 2
call Block.getCB 1
pop this 2
push argument 3
call Block.getCB 1
pop this 3
push argument 4
call Block.getCB 1
pop this 4
push argument 5
call Block.getCB 1
pop this 5
push argument 6
call Block.getCB 1
pop this 6
push argument 7
call Block.getCB 1
pop this 7
push argument 8
call Block.getCB 1
pop this 8
push pointer 0
return
function CollisionManager.dispose 0
push argument 0
pop pointer 0
push this 0
call CollisionBox.dispose 1
pop temp 0
push this 1
call CollisionBox.dispose 1
pop temp 0
push this 2
call CollisionBox.dispose 1
pop temp 0
push this 3
call CollisionBox.dispose 1
pop temp 0
push this 4
call CollisionBox.dispose 1
pop temp 0
push this 5
call CollisionBox.dispose 1
pop temp 0
push this 6
call CollisionBox.dispose 1
pop temp 0
push this 7
call CollisionBox.dispose 1
pop temp 0
push this 8
call CollisionBox.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function CollisionManager.checkCollision 0
push argument 0
pop pointer 0
push this 0
push this 1
call CollisionBox.touches 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push this 0
push this 2
call CollisionBox.touches 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
push this 0
push this 3
call CollisionBox.touches 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
return
label IF_FALSE2
push this 0
push this 4
call CollisionBox.touches 2
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
return
label IF_FALSE3
push this 0
push this 5
call CollisionBox.touches 2
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
return
label IF_FALSE4
push this 0
push this 6
call CollisionBox.touches 2
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
return
label IF_FALSE5
push this 0
push this 7
call CollisionBox.touches 2
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
not
return
label IF_FALSE6
push this 0
push this 8
call CollisionBox.touches 2
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
not
return
label IF_FALSE7
push constant 0
return
