function ScreenController.new 0
push constant 11
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push argument 4
pop this 4
push argument 5
pop this 5
push argument 6
pop this 6
push argument 7
pop this 7
push argument 8
pop this 8
push argument 9
pop this 9
push argument 10
pop this 10
push pointer 0
return
function ScreenController.dispose 0
push argument 0
pop pointer 0
push this 0
call Jack.dispose 1
pop temp 0
push this 1
call Bottom.dispose 1
pop temp 0
push this 2
call Levels.dispose 1
pop temp 0
push this 3
call Block.dispose 1
pop temp 0
push this 4
call Block.dispose 1
pop temp 0
push this 5
call Block.dispose 1
pop temp 0
push this 6
call Block.dispose 1
pop temp 0
push this 7
call Block.dispose 1
pop temp 0
push this 8
call Block.dispose 1
pop temp 0
push this 9
call Block.dispose 1
pop temp 0
push this 10
call Block.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function ScreenController.refreshScreen 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 199
call Screen.drawRectangle 4
pop temp 0
push this 0
call Jack.draw 1
pop temp 0
push this 2
call Levels.showScore 1
pop temp 0
push this 3
call Block.draw 1
pop temp 0
push this 4
call Block.draw 1
pop temp 0
push this 5
call Block.draw 1
pop temp 0
push this 6
call Block.draw 1
pop temp 0
push this 7
call Block.draw 1
pop temp 0
push this 8
call Block.draw 1
pop temp 0
push this 9
call Block.draw 1
pop temp 0
push this 10
call Block.draw 1
pop temp 0
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
